html {
    background-color: Black;
    color: Snow;
    font-family: 'Inter', sans-serif;
    position: absolute;
    min-height: 100vh;
    min-width: 100hv;
    margin-left: 46px;
  }

body {
    padding-left: 24px;
    padding-right: 24px;
}

#header-logo {
    font-size: 70px;
    font-weight: 600;
}

#title {
    font-size: 30px;
    font-weight: 500;
}

#bio {
    font-size: 26px;
    font-weight: 400;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-size: 14px;
    font-weight: 500;
}

a {
  color: DodgerBlue;
}

a:link {
  color: DodgerBlue;
}

a:visited {
 color: SlateGray;
}

a:focus {
  color: DeepSkyBlue;
}

a:hover {
  color: DeepSkyBlue;
}
