* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family:'MessinaSansTrial';
	src: url('./fonts/messina/sans/normal/MessinaSansWEbTrial-Regular.eot'); /* IE9 Compat Modes */
	src: url('./fonts/messina/sans/normal/MessinaSansWEbTrial-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('./fonts/messina/sans/normal/MessinaSansWEbTrial-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/messina/sans/normal/MessinaSansWEbTrial-Regular.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

html {
	background-color: Black;
  color: Azure;
  font-family: 'MessinaSansTrial', 'Roboto', 'Helvetica', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 1.1;

    text-rendering: optimizeLegibility;     /* emphasizes in legibility over rendering speed */
    -webkit-font-smoothing: antialiased;    /* apply font anti-aliasing */
    -moz-osx-font-smoothing: grayscale;     /* optimize font rendering */

    -moz-font-feature-settings:"kern" 1;    /* turn on kerning, highly recomened */
    -ms-font-feature-settings:"kern" 1;     /* turn on kerning, highly recomened */
    -o-font-feature-settings:"kern" 1;      /* turn on kerning, highly recomened */
    -webkit-font-feature-settings:"kern" 1; /* turn on kerning, highly recomened */
    font-feature-settings:"kern" 1;         /* turn on kerning, highly recomened */
    font-kerning: normal;                   /* turn on kerning, highly recomened */

    font-feature-settings: "liga" off;      /* ligatures: on or off */
    font-feature-settings: "dlig" off;      /* discretionary-ligatures: on or off */
    font-feature-settings: "tnum" off;      /* tabular figures: on or off */
    font-feature-settings: "onum" off;      /* old-style-figures: on or off */
    font-feature-settings: "ss01" off;      /* alternate glyphs (stylistic Set): on or off */
}

a  {
    text-decoration: none;
    color: #999;
}

.main-container {
	max-width: 900px;
	min-width: 450px;
	margin: 6vh;
	overflow-x: hidden;
}

.logo {
	font-size: 72px;
}

.title {
	margin-top: 75px;
	font-size: 52px;
	line-height: 1.3;
}

.bio {
	margin-top: 50px;
	font-size: 36px;
	line-height: 1.3
}

footer {
	font-size: 1.5vh;
	position: absolute;
	bottom: 0;
}
