/*
font-family: 'MessinaSans', sans-serif;
font-weight:
  200 --> Light
  300 --> Book
  400 --> Regular
  600 --> SemiBold
  700 --> Bold
  900 --> Black
*/

html {
  font-family: "MessinaSans", sans-serif;
  font-weight: 300;
  color: #f5f7fa;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b0c0d;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0px;
  display: block;
  color: #656d78;
}

h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.6em;
}

a {
  color: #00c1a1;
  text-decoration: none;
}

.site-branding {
  display: flex;
  align-items: center;
}

#container {
  max-width: 1200px;
  margin: 0px 100px;
}

.content-area {
  float: left;
  width: 100%;
  max-width: 900px;
}

.about {
  color: f5f7fa;
  font-weight: 400 !important;
  max-width: 840px;
  font-size: 22px;
}

.section {
  margin-bottom: 100px;
}

.newsletter {
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  background: #30353d;
  color: #f5f7fa;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  max-width: 130px;
  padding: 12px 24px;
}

.join {
  color: #f5f7fa;
}

#container {
  height: 100vh;
  padding: 0 40px;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}

#logo {
  padding: 20px 0;
  max-height: 14px;
}

.news {
  max-width: 500px;
  margin-top: 40px;
}

.section-title {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #aab2bd;
  font-weight: 600;
  margin-bottom: 15px;
}

footer {
  position: absolute;
  bottom: 20px;
  color: #656d78;
  font-size: 14px;
}
