/*
font-family: 'MessinaSans', sans-serif;
font-weight:
  200 --> Light
  300 --> Book
  400 --> Regular
  600 --> SemiBold
  700 --> Bold
  900 --> Black
*/

html {
  font-family: 'MessinaSans', sans-serif;
  font-weight: 300;
  color: #f5f7fa;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b0c0d;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  display: block;
  color: #656D78
}

a {
  color: #00c1a1;
  text-decoration: none;
}

.site-branding {
  display: flex;
  align-items: center;
}

.about {
  color: f5f7fa;
  font-weight: 400 !important;
  max-width: 840px;
  font-size: 22px;
}

.section {
  margin-bottom: 100px;
}

.newsletter {
  max-width: 500px;
  margin-top: 40px;
}

#container {
	height: 100vh;
	padding: 0 40px;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}

#logo {
  padding: 20px 0;
  max-height: 14px;
}

footer {
	position: absolute;
	bottom: 21px;
	font-size: .6rem;
	letter-spacing: 0.15em;
}
