/*
font-family: 'MessinaSans', sans-serif;
font-weight:
  200 --> Light
  300 --> Book
  400 --> Regular
  600 --> SemiBold
  700 --> Bold
  900 --> Black
*/

html {
  font-family: 'MessinaSans', sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b0c0d;
}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

#container {
	height: 100vh;
	padding: 0 40px;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}

#logo {
	padding: 20px 0;
	font-size: 5.2rem;
	font-weight: 700;
}

#title {
	padding: 30px 0 0 0;
	font-size: 2.05rem;
	font-weight: 700;
}

#bio {
	padding: 45px 0 0 0;
	font-size: 1.5rem;
	font-weight: 500;
	max-width: 600px;
	line-height: 2.5rem;
}

footer {
	position: absolute;
	bottom: 21px;
	font-size: .6rem;
	letter-spacing: 0.15em;
}
