@media only screen and (max-width:1080px) {
  html {
    font-size: 16px;
  }
  .nav {
  	position: absolute;
  	height: 60px;
  	top: 0;
  	right: 0;
  	left: 0;
  	padding: 0 20px;
  	z-index: 4;
  }
	.nav-logo {
    position: absolute;
    top: 0;
    left: 10px;
		font-size: 36px;
		font-weight: 400;
	}
	.main {
		margin-top: 60px;
		min-height: calc(100vh - 60px);
		padding-top: 20px;
		padding-left: 0px;
		overflow: hidden;
	}
	.main-content {
		margin-top: 15px;
		margin-right: auto;
		margin-left: auto;
    padding: 0 5px;
		max-width: 1080px;
	}
	.main-content-header {
    width: 100%;
		margin-top: 36px;
		padding: 20px 10px 0;
	}
	.header-title {
		font-size: 28px;
  	font-weight: 700;
  }
	.header-intro {
    margin: 20px 0;
    max-width: 414px;
		font-size: 20px;
		font-weight: 400;
  }
  .header-intro p {
    margin: 20px 0;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 15px;
  }
  .footer-content {
    font-size: 16px;
  }
  .octicon {
    font-size: 16px;
  }
}
